/* Importar fuentes custom */
@font-face{
    font-family: "yenone";
    src: url("fonts/yanone.ttf");
}

@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/* Generales */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "yenone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

/* Barra de navegación */
header{
    display: block;
    width: 100%;
    height: 90px;
    background-color: rgba(53, 103, 164, 0.8);
    position:fixed;
    text-transform: uppercase;
}
header .wrapper1{
    display: none;
}

header .wrapper2{
    width: 60%;
    max-width: 900px;
    height: inherit;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*
header ul{
    display: block;
    width: 42%;
    height: inherit;
    margin: 0px auto;
}
*/
header ul li{
    display: block;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
    display: block;
    width: 100%;
    text-align: center;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

.actived{
    color:rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

header a:hover{
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px black inset;
}

header #logo a:hover{
    background: transparent;
    box-shadow: none;
}

#logo{
    font-family: "finger";
    font-size: 30px;
    line-height: 85px;
}

#logo a{
    transition: color 500ms, transform 400ms, text-shadow 600ms;
}

#logo:hover a{
    text-shadow: 0px 0px 7px rgb(8, 28, 58);
    color: black;
    transform: scale(1.70);
}

/* Contenedor principal */
#content{
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 700px;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    padding-top: 120px;
}

/* Pie de pagina */
footer{
    width: 75%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px;
    color: rgba(0,0,0,0.5)
}

/***************************************************************/
/* Sobre mi */
#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

#title h1{
    font-family: "finger";
    font-size: 50px;
}

#title h2{
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about{
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
}

.about h2{
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    margin-top: 5px;
    text-align: justify;
}

/**********************************************************/
/* Secion con formulario */

.container{
    padding: 50px;
    padding-top: 10px;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form{
    width: 50%;
}

form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 50%;
    padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
    width: 80px;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 2px solid rgb(7, 24, 46);
    cursor: pointer;
    transition: all 300ms;
}

form button:hover,
form input[type="submit"]:hover{
    color: rgb(0, 0, 0);
    background: rgb(78, 153, 245);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
}

form input[disabled]{
    opacity: 0.3;
    cursor: not-allowed;
}

form input[disabled]:hover{
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 2px solid rgb(7, 24, 46);
    border-radius: 0px;
    font-weight: normal;
}

.form_error{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 10px;
    margin-left: 5px;
}

.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}

.success{
    background-color: green;
    color: white;
}

.success a{
    color: white;
}

.failed{
    background-color: red;
    color: white;
}

/******************************************************/

/* Pagina de proyectos */
.container .wrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.project{
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgba(0, 94, 182, 0.25);
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: -1px 1px 4px rgba(0, 94, 182, 0.25), -2px 2px 4px rgba(0, 94, 182, 0.25),-3px 3px 4px rgba(0, 94, 182, 0.25), -5px 1px 8px rgba(0, 94, 182, 0.25), -1px 6px 6px rgba(0, 94, 182, 0.25);
}

.project img{
    width: 90%;
    height: same-as-width;
    margin-top: 18px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.project a{
    text-decoration: none;
    color: black;
}

@media (max-width: 847px) {
    header .wrapper2{
        width: 80%;
    }
    header a {
        font-size: 20px;
    }
    #logo a {
        font-size: 30px;
    }
    form {
        width: 70%;
    }
}

@media (max-width: 693px) {
    .container .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    form {
        width: 100%;
    }
}

@media (max-width: 641px) {
    #content {
        width: 90%;
    }
    header .wrapper2{
        width: 90%;
    }
    form input[type="text"],
    form input[type="number"],
    form input[type="email"],
    form textarea{
    width: 100%;
    }
}

@media (max-width: 585px) {
    #content {
        width: 90%;
    }
    header .wrapper2{
        width: 100%;
    }
}

@media (max-width: 511px) {
    #content {
        width: 95%;
    }
    header .wrapper1{
        max-width: 900px;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        height: 80px !important;
    }
    .logo1 {
        display: none;
        height: 40px !important;
    }
    #logo{
        height: 80px !important;
    }
    header .wrapper2{
        grid-template-columns: repeat(4, 1fr);
        height: 40px !important;
        align-items: center;
    }
    header .wrapper2 li{
        height: 40px !important;
    }
    header .wrapper2 li a{
        height: 40px !important;
        line-height: 40px;
    }
    header {
        height: 120px;
    }
    .container .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 433px) {
    header .wrapper2{
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto auto;
    }
    header {
        height: 160px;
    }
    #content{
        padding-top: 160px;
    }
}
@media (max-width: 389px) {
    .container .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}
